*,
*::before,
*::after {
  -webkit-box-sizing: border-box;
  box-sizing: border-box;
  padding: 0;
  margin: 0;
  border: 0;
}

img {
  vertical-align: top;
}

a {
  text-decoration: none;
}

html {
  min-width: 320px;
  max-width: 1920px;
}

html, body {
  height: 100%;
  margin: 0;
  padding: 0;
  font-family: Arial, sans-serif;
  font-size: 14px;
  line-height: 1.4;
  color: #333;
  background-color: #fff;
}

.parallax {
  min-height: 100vh;
}

.parallax__body {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
  position: fixed;
}

.parallax__content {
  font-size: 14px;
  color: white;
  font-weight: bold;
  line-height: 48px;
  letter-spacing: 0.305em;
  position: relative;
  z-index: 4;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  height: 100%;
}

.parallax__img-parallax {
  position: absolute;
  width: 120%;
  height: 120%;
  top: -10%;
  left: -10%;
  z-index: 1;
}
.parallax__img-parallax .partition {
  position: fixed;
  width: 200%;
  height: 200%;
  background: rgba(253, 110, 93, 0.5);
  z-index: 3;
}

.img-parallax__item {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}
.img-parallax__item .img-parallax__ground,
.img-parallax__item .img-parallax__sunset {
  position: absolute;
  width: 100%;
  height: 100%;
  top: 0;
  left: 0;
}

.img-parallax__ground {
  background: url("../img/parallax2.png") top/cover no-repeat;
  z-index: 2;
}

.img-parallax__sunset {
  background: url("../img/parallax1.png") top/cover no-repeat;
  z-index: 1;
}

@media (max-aspect-ratio: 3/2) {
  .img-parallax__ground, .img-parallax__sunset {
    background-position: 20% center;
  }
}
.parallax__header {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  position: relative;
  padding: 0 15px;
}

.decorative-line {
  display: block;
  max-width: 965px;
  width: 100%;
  border-bottom: 3px solid #FFFFFF;
}
.decorative-line.decorative-line--right {
  max-width: 605px;
}

.logo {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  text-transform: uppercase;
  max-width: 360px;
  cursor: pointer;
  margin: 20px 20px 0 20px;
  white-space: nowrap;
}
.logo:hover .logo__title, .logo:hover .logo__subtitle {
  color: #FD6E5D;
}

.logo__title {
  position: relative;
  font-size: 32px;
}

.logo__subtitle {
  font-size: 26px;
  line-height: 20px;
}

.parallax__language-bar {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  width: 200px;
  height: 35px;
}
.parallax__language-bar .language-bar__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-transition: 0.25s;
  transition: 0.25s;
  cursor: pointer;
  width: 65px;
  border: 3px solid #FFFFFF;
}
.parallax__language-bar .language-bar__button._active {
  background-color: #FD6E5D;
}
.parallax__language-bar .language-bar__button:hover {
  background-color: #FD6E5D;
}
.parallax__language-bar .language-bar__button--english {
  border-radius: 16px 0px 0px 16px;
}
.parallax__language-bar .language-bar__button--russian {
  border-radius: 0px 16px 16px 0px;
}

.parallax__main {
  -webkit-box-flex: 1;
      -ms-flex: 1 0 auto;
          flex: 1 0 auto;
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
}

.parallax__label {
  text-transform: uppercase;
  font-size: 62px;
  letter-spacing: 0.1em;
  line-height: 97px;
  max-width: 760px;
  border-left: 2px solid;
  -o-border-image: linear-gradient(to bottom, #FFFFFF 0%, transparent 80%) 1;
     border-image: -webkit-gradient(linear, left top, left bottom, from(#FFFFFF), color-stop(80%, transparent)) 1;
     border-image: linear-gradient(to bottom, #FFFFFF 0%, transparent 80%) 1;
  padding-left: 30px;
  margin-left: -100%;
  -webkit-transition: 2s;
  transition: 2s;
}
.parallax__label span {
  color: #FD6E5D;
}
.parallax__label._active {
  margin-left: 90px;
}

.parallax__footer {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 60px;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  -webkit-box-flex: 0;
      -ms-flex: 0 0 auto;
          flex: 0 0 auto;
}

.parallax__button {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  -webkit-box-orient: vertical;
  -webkit-box-direction: normal;
      -ms-flex-direction: column;
          flex-direction: column;
  cursor: pointer;
}
.parallax__button:hover .parallax__button-body {
  height: 10px;
}
.parallax__button:hover .parallax__arrow svg {
  -webkit-transform: rotate(540deg);
          transform: rotate(540deg);
}

.parallax__button-body {
  height: 6px;
  width: 350px;
  background: #ffffff;
  border-radius: 20px;
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.parallax__arrow {
  display: -webkit-box;
  display: -ms-flexbox;
  display: flex;
  -webkit-box-align: center;
      -ms-flex-align: center;
          align-items: center;
  -webkit-box-pack: center;
      -ms-flex-pack: center;
          justify-content: center;
  height: 35px;
}
.parallax__arrow .parallax__arrow-icon {
  -webkit-transition: 0.5s;
  transition: 0.5s;
}

.content_wrapper {
  min-height: 100%;
}