@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax__footer {
    @include flexCenter();

    flex-direction: column;
    flex: 0 0 auto;

    margin-bottom: -100%;

    transition: 3s;

    &._active {
        margin-bottom: 0;
    }
}

.parallax__button {
    height: 6px;
    width: 500px;
    background: #ffffff;
    border-radius: 20px;

    cursor: pointer;

    transition: 0.5s;

    &:hover {
        height: 12px;
    }

    &:hover ~ .parallax__arrow svg {
        transform: rotate(360deg + 180deg)
    }
}

.parallax__arrow {
    @include flexCenter();

    height: 35px;
    
    .parallax__arrow-icon {
        transition: 0.5s;
        cursor: pointer;
    }
}