@mixin flexCenter() {
    display: flex;
    align-items: center;
    justify-content: center;
}

.parallax__footer {
    @include flexCenter();
    height: 60px;

    flex-direction: column;
    flex: 0 0 auto;
}

.parallax__button {
    @include flexCenter();
    flex-direction: column;

    cursor: pointer;

    &:hover .parallax__button-body {
        height: 10px;
    }

    &:hover .parallax__arrow svg {
        transform: rotate(360deg + 180deg)
    }
}

.parallax__button-body {
    height: 6px;
    width: 350px;
    background: #ffffff;
    border-radius: 20px;

    transition: 0.5s;
}

.parallax__arrow {
    @include flexCenter();

    height: 35px;
    
    .parallax__arrow-icon {
        transition: 0.5s;
    }
}