.parallax__main {
    flex: 1 0 auto;
    display: flex;
    align-items: center;
}

.parallax__label {
    text-transform: uppercase;
    font-size: 62px;
    letter-spacing: 0.1em;
    line-height: 97px;

    max-width: 760px;

    border-left: 2px solid;
    border-image: linear-gradient(to bottom, #FFFFFF 0%, transparent 80%) 1;

    padding-left: 30px;
    margin-left: -100%;

    transition: 2s;

    & span {
        color: #FD6E5D;
    }

    &._active {
        margin-left: 90px;
    }
}